.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 7%;
}

.logo{
  width: 100px;
  cursor: pointer;
}

.ordered{
  flex: 1;
  list-style: none;
  text-align: center;
}

.list{
  display: inline-block;
  margin: 45px 45px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.searchbox{
  display: flex;
  align-items: center;
  background: #242424;
  padding: 8px 20px;
  border-radius: 50px;
}

.input{
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  max-width: 200px;
}

.toogle-icon{
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}

.search-box input::placeholder{
  color: #fff;
}

.search-box img{
  width: 20px;
  cursor: pointer;
}

a:link { 
  text-decoration: none; 
  color: white;
} 
.atag{
  color: white;
}